
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 22px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            left: 0px;
            min-width: 1200px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 600px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1510856562102-2 {
            min-height: 100px;
            width: 400px;
            background-color: transparent;
            top: 61px;
            left: 33px;
        }
        
        .silex-id-1510857217025-4 {
            width: 225px;
            min-height: 225px;
            top: 118px;
            left: 889px;
        }
        
        .silex-id-1510858019770-6 {
            height: 400px;
            width: 400px;
            background-color: transparent;
            top: 329px;
            left: 46px;
        }
        
        .silex-id-1510856550853-1 {
            width: 400px;
            min-height: 68px;
            background-color: transparent;
            top: 396px;
            left: 662px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 430px;
        }
        
        .silex-id-1510856073534-0 {
            width: 100px;
            min-height: 100px;
            top: 100px;
            left: 607px;
        }
        
        .silex-id-1510857507942-5 {
            width: 557px;
            background-color: rgb(255, 255, 255);
            min-height: 319px;
            top: 100px;
            left: 327px;
        }
    